parameters:
	ignoreErrors:
		-
			message: '#^Cannot access offset ''Axleus\\\\Mailer\\\\Adapter\\\\AdapterInterface'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Container/PhpMailerFactory.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 2
			path: src/Container/PhpMailerFactory.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 6
			path: src/Container/PhpMailerFactory.php

		-
			message: '#^Instantiated class Laminas\\ServiceManager\\Exception\\ServiceNotCreatedException not found\.$#'
			identifier: class.notFound
			count: 1
			path: src/Container/PhpMailerFactory.php

		-
			message: '#^Method Axleus\\Mailer\\Container\\PhpMailerFactory\:\:configureSmtp\(\) has parameter \$adapterConfig with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Container/PhpMailerFactory.php

		-
			message: '#^Parameter \#1 \$exceptions of class PHPMailer\\PHPMailer\\PHPMailer constructor expects bool\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Container/PhpMailerFactory.php

		-
			message: '#^Throwing object of an unknown class Laminas\\ServiceManager\\Exception\\ServiceNotCreatedException\.$#'
			identifier: class.notFound
			count: 1
			path: src/Container/PhpMailerFactory.php

		-
			message: '#^Readonly property Axleus\\Mailer\\Mailer\:\:\$adapter is assigned outside of the constructor\.$#'
			identifier: property.readOnlyAssignNotInConstructor
			count: 1
			path: src/Mailer.php

		-
			message: '#^Trait Axleus\\Mailer\\MailerAwareInterfaceTrait is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/MailerAwareInterfaceTrait.php

		-
			message: '#^Cannot access offset ''Axleus\\\\Mailer\\\\Adapter\\\\AdapterInterface'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Middleware/MailerMiddlewareFactory.php
